vim/bundle/
.venv
ansible/playbooks/*.retry
ansible/.virtenv
!i3wm/.config/i3/config
vim/.config/nvim/undo
vim/.config/nvim/spell
vim/.config/nvim/lazyvim.json
zsh/.zsh/history
zsh/.zsh/zsh-autosuggestions/
ansible/mitogen
ansible/roles/FGtatsuro.*/
ansible/roles/ferrarimarco.*/
ansible/roles/angstwad.docker_ubuntu/
ansible/roles/geerlingguy.docker/
*.pyc
.nvimlog
*.cast
*.cache
.DS_Store
