vim/bundle/
.venv
ansible/playbooks/*.retry
ansible/.virtenv
!i3wm/.config/i3/config
vim/.config/nvim
zsh/.zsh/history
ansible/mitogen
ansible/roles/FGtatsuro.*/
ansible/roles/ferrarimarco.*/
ansible/roles/angstwad.docker_ubuntu/
ansible/roles/geerlingguy.docker/
*.pyc
.nvimlog
ncmpcpp/.ncmpcpp/error.log
