!#include ".Xresources.d/solarized-light.xresources"
!#include ".Xresources.d/solarized-dark.xresources"
!#include ".Xresources.d/base16-ocean.Xresources"
!#include ".Xresources.d/gruvbox-light.xresources"
#include ".Xresources.d/gruvbox-dark.xresources"
!#include ".Xresources.d/hybrid.xresources"
!#include ".Xresources.d/rofi.xresources"

*intensityStyles: false
*fading: 20

URxvt*depth: 32

URxvt*saveLines: 8000
URxvt*internalBorder: 0
URxvt*lineSpace: 0
URxvt*loginShell: true

! Urxvt fonts
URxvt.font: xft:Ubuntu Mono derivative Powerline:pixelsize=13:autohint=true,xft:Symbola:size=5
URxvt.boldFont: xft:Ubuntu Mono derivative Powerline::bold:pixelsize=13,xft:Symbola:size=5
URxvt.italicFont: xft:Ubuntu Mono derivative Powerline::italic:pixelsize=13,xft:Symbola:size=5
URxvt.boldItalicFont: xft:Ubuntu Mono derivative Powerline::bolditalic:pixelsize=13,xft:Symbola:size=5

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt*scrollStyle: rxvt
URxvt*scrollBar: false

! Perl extensions
URxvt*perl-ext-common: default,matcher,font-size
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False
URxvt*matcher.button: 1
URxvt*url-launcher: firefox

! Fontsize shortcuts
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-0:      perl:font-size:reset

! Cursor
URxvt*cursorBlink: true
URxvt*cursorUnderline: false
Xcursor.theme: DMZ-Black

! Pointer
URxvt*pointerBlank: true
