# vim: ft=zsh

## Unix
alias ...="cd ../.."
alias mkdir="mkdir -p"
alias grep="grep --color=auto"
alias ping="ping -c 5"
alias ls="ls -lh --color"
alias la='ls -lAh'
alias df="df -h"
alias git_clean_branches="git branch --merged | egrep -v '(^\*| main)' | xargs --no-run-if-empty git branch -d"
alias tree="tree -a -C -I '.git'"

## Switches for pairing
alias pair_dvorak="setxkbmap 'de(dvorak)'"
alias pair_de="setxkbmap 'de'"

## Git
alias ga="git add"
alias gb="git --no-pager branch --sort=committerdate"

alias gst="git status && echo '\n- Branches -' && gb"
alias gs="gst"

alias gc="git commit -v"
alias gcp="git cherry-pick"

alias gd="git diff"

alias gl="git pull --rebase --autostash && git_clean_branches"
alias gp="git push"

alias 'ga .'="echo don't use git add ."
alias 'git add .'="echo don't use git add ."

alias pr="gh pr create -f"

# Rails
alias be="bundle exec"
