# vim: ft=zsh

## Unix
alias ...="cd ../.."
alias mkdir="mkdir -p"
alias grep="grep --color=auto"
alias ping="ping -c 5"
alias ls="ls -h --color"
alias ll='ls -lh'
alias la='ls -lAh'
alias df="df -h"
alias top="htop"
alias git_clean_branches="git branch --merged | egrep -v '(^\*|master)' | xargs git branch -d"
alias tree="tree -a -C -I '.git'"

## Switches for pairing
alias pair_dvorak="setxkbmap 'de(dvorak)'"
alias pair_de="setxkbmap 'de'"

## Rails
alias migrate="rake db:migrate db:rollback && rake db:migrate"
alias m="migrate"

## Git
alias ga="git add"
alias gaa="git add --all"

alias gco="git checkout"
alias gst="git status"

alias gb="git branch"
alias gc="git commit -v"
alias gcp="git cherry-pick"

alias gd="git diff"

alias gl="git pull"
alias gfa="git fetch --all"
alias gp="git push"

alias 'ga .'="echo don't use git add ."
alias 'git add .'="echo don't use git add ."

alias pr="hub pull-request"
